.Services {
	/* background-color: var(--primary-color); */
	padding: 4rem 0 4rem 0;
	text-align: center;
	width: 100vw;
	color: var(--light-color);
}

.ServicesContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.Title {
	margin-top: 0;
	font-size: var(--h1);
}

.Subtitle {
	margin-bottom: 0;
	font-size: var(--h5);
}

.Service {
}
