.Hero {
	overflow-y: hidden;
	color: var(--light-color);
	position: relative;
}

.HeroBackground {
	position: fixed;
	z-index: -10;
	height: 100vh;
	width: 100vw;
	background: linear-gradient(
		var(--gradient-color-one),
		var(--gradient-color-two)
	);
}

.HeroImage {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	min-height: 100vh;
	z-index: -10;
}

.Content {
	width: 80vw;
	max-width: var(--max-content-width);
}

.Content h1 {
	margin-top: 0;
	font-size: var(--h2);
}

.Content h2 {
	margin-bottom: 0;
	font-size: var(--h5);
}

.LearnMoreButton {
	cursor: pointer;
	position: absolute;
	font-weight: bold;
	font-size: 1.2rem;
	bottom: 4rem;
	transition: transform var(--anim-length);
}

.LearnMoreButton:hover,
.LearnMoreButton:focus-visible {
	transform: scale(1.2);
}
