.Hero {
	overflow-y: hidden;
	height: calc(100vh - var(--header-height));
	position: relative;
}

.HeroImage {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	min-height: 100vh;
	z-index: -10;
}

.Content {
	/* width: 80vw; */
	max-width: var(--max-content-width);
}

.ContentContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 10vw 0 10vw;
	color: var(--light-color);
	/* position: relative; */
}

.BgImage {
	z-index: -10;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 10rem;
}

.Title {
	margin-top: 0;
}

.Subtitle {
	margin-bottom: 0;
	font-size: var(--h5);
	/* font-weight: ; */
}

.ContactForm {
	margin: 0 2rem 0 2rem;
}

.LearnMoreButton {
	bottom: 0;
	padding: 1rem;
	background-color: var(--light-color);
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	color: var(--dark-color);
	position: absolute;
	transition: transform var(--anim-length);
}

/* .LearnMoreButton:hover,
.LearnMoreButton:focus-visible {
	transform: scale(1.2);
} */
