.Hero {
	width: 100vw;
	height: 100vh;

	overflow-y: hidden;

	display: flex;
	align-items: center;
	justify-content: center;
}

.HeroImage {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	min-height: 100vh;
	z-index: -10;
}

.ContentContainer {
	width: 80vw;
	max-width: var(--max-content-width);
}
