.Footer {
	width: calc(100vw - 4rem);
	min-height: 4rem;
	padding: 1rem 2rem 1rem 2rem;
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 50% 50%;
	align-items: end;
	background-color: var(--primary-color);
	text-align: end;
	position: relative;
	bottom: 0;
	color: var(--light-color);
}

.Footer span {
	padding-bottom: 1rem;
}

.CreatedBy {
	text-align: start;
}

.Sitemap {
	grid-column: 1/3;
	justify-self: center;
	text-align: start;
}

@media only screen and (max-width: 64rem) {
	.Sitemap {
		align-self: center;
	}

	.Footer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.Footer span {
		text-align: center;
		align-self: center;
	}
}
