.Header {
	z-index: 100;
	width: 80vw;
	height: var(--header-height);

	padding: 1rem 10vw 1rem 10vw;

	position: fixed;
	top: 0;
	left: 0;

	background-color: var(--primary-color);
	color: var(--light-color);

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	transition: height var(--anim-length), transform var(--anim-length);
}

.large.Header {
	height: calc(var(--header-height) + 4rem);
}

.Header.MobileHidden {
	transform: translateY(-100%);
}

.HeadingContainer {
	display: flex;
	flex-direction: row;
}

.HeadingIcon {
	transition: padding var(--anim-length);
}

.large.Header .HeadingIcon {
	padding: 0.5rem;
}

.TitleContainer {
	margin-left: 2rem;

	display: flex;
	flex-direction: column;
	align-self: center;
}

.Title,
.Subtitle {
	margin: 0;
}

.Subtitle {
	font-size: var(--small-font-size);
	transition: opacity var(--anim-length), height var(--anim-length);
}

.small.Header .Subtitle {
	opacity: 0;
	height: 0;
}
