.Container {
	z-index: -9;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 10rem;
}

.BgImage {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	min-height: 100vh;
	z-index: -9;
}
