.Button {
	font-size: 1.25rem;
	cursor: pointer;
}

.Button:hover > .Link .Title {
	transform: scale(110%);
}

.Button:hover > .Link .DownArrow {
	transform: translateY(0.5rem) scale(125%);
}

.Link {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Title {
	transition: transform var(--anim-length);
}

.DownArrow {
	fill: var(--contrast-color);

	transition: transform var(--anim-length);

	height: 3rem;
	width: 3rem;
}
