.Header {
	z-index: 100;
	width: 80vw;
	height: calc(var(--header-height) - 2rem);

	padding: 1rem 10vw 1rem 10vw;

	position: fixed;
	top: 0;
	left: 0;

	background-color: var(--header-color);
	color: var(--light-color);

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	transition: height var(--anim-length), transform var(--anim-length);
}

.large.Header {
	height: calc(var(--header-height) + 4rem);
}

.Header.MobileHidden {
	transform: translateY(-100%);
}

.HeadingContainer {
	display: flex;
	flex-direction: row;
}

.HeadingIcon {
	transition: padding var(--anim-length);
	padding: 0.25rem;
}

.large.Header .HeadingIcon {
	padding: 1rem;
}

.large.Header .TitleContainer {
	justify-content: space-evenly;
}

.TitleContainer {
	height: 100%;
	margin-left: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
}

.Title,
.Subtitle {
	margin: 0;
	font-size: var(--h4);
	padding-right: 1rem;
}

.Subtitle {
	font-size: var(--small-font-size);
	transition: opacity var(--anim-length), height var(--anim-length);
}

.small.Header .Subtitle {
	opacity: 0;
	height: 0;
}

.NavContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-left: 1rem;
}

.NavContainer.hidden {
	/* flex-direction: row; */
	justify-content: center;
}

.ContactInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 2.5rem;
	transition: opacity var(--anim-length), height var(--anim-length);
}

.ContactInfo.hidden {
	opacity: 0;
	height: 0;
}

.ContactInfo address {
	text-align: end;
}
