.CallNowBanner {
	width: 100vw;
	padding: 1rem 0;
	color: var(--light-color);
	font-size: var(--h5);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
}

.NotFound {
	text-align: center;
	margin-top: 2rem;
}
